body
{
    background-color: #0E0E0E;
}
.bg-purple
{
    background-color: #B91450;
}
.color-purple
{
    color: #B91450
}
.vertical-center {
    min-height: 100%; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
  }